.header__lang {
  margin: 0;
  min-height: 44px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

@media screen and (max-width: 320px) {
  .header__lang {
    min-height: 31px;
  }
}
