.cover__subtitle {
  text-align: center;
  margin: 0;
  font-family: 'Inter', sans-serif, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-top: 32px;
  max-width: 360px;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    padding: 0 16px 33px;
  }
}

