.lead__title {
  margin: 0;
  max-width: 720px;
  font-family:  'Inter', sans-serif, Arial;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    padding: 0 16px 16px;
    line-height: 44px;
  }
}
