.place__paragraph {
  grid-area: paragraph;
  margin: 0;
  font-family: 'Inter', sans-serif, Arial;
  font-size: 18px;
  line-height: 162%;
  font-weight: 400;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    padding-left: 16px;
    padding-right: 16px;
    line-height: 26.08px;
  }
}
