.place__link {
  margin: 0;
  font-family: 'Inter', sans-serif, Arial;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: underline;
  color: #fff;
}

.place__link:hover {
  opacity: 0.8;
}
