.place {
  margin: 0;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: min(460px) auto;
  grid-template-areas:
    "title website"
    "image paragraph";
  justify-items: start;
  column-gap: 40px;
  row-gap: 48px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: min(440px) auto;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: min(340px) auto;
    padding-bottom: 73px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph";
    padding-bottom: 50px;
    gap: 32px;
  }
}
